.contactContainer {
   position: relative;
   width: 370px;
}

.contactContainer:not(:first-child) {
   margin-left: 16px;
}

.titleRow {
   display: flex;
}

.imgContainer {
   width: 48px;
   height: 48px;
   border-radius: 53px;
   background: #F6F6F6;
}

.title {
   margin-left: 16px;
   color: #303030;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;
}

.name {
   color: #303030;
   font-size: 24px;
   font-style: normal;
   font-weight: 600;
   line-height: 32px;
   letter-spacing: -0.48px;
}

.surname {
   color: #303030;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px;
   letter-spacing: -0.48px;
}

.description {
   color: #808080;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}

.date {
   color: #303030;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}

.btn {
   position: absolute;
   right: 40px;
   bottom: 40px;
   padding: 16px;
}