.title {
   color: #303030;
   font-size: 64px;
   font-style: normal;
   font-weight: 500;
   line-height: 72px;
   letter-spacing: -2.56px;
}

.subtitle {
   color: #303030;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 22px;
   letter-spacing: -0.2px;
}

.mapDescription {
   width: 181px;
   color: #808080;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: -0.24px;
}

.mapContainer {
   display: flex;
   justify-content: space-between;
}

.mapImgContainer {
   width: 547px;
   position: absolute;
   top: 113px;
   left: 95px;
}

.mapImgContainer img {
   width: 100%;
}

.mapBlock {
   position: relative;
   width: 590px;
   height: 590px;
}

.imgMayorContainer {
   overflow: hidden;
   border-radius: 20px;
   width: 230px;
   height: 197px;
}

.imgMayorContainer img {
   width: 100%;
}

.textBlock {
   width: 315px;
}

.mayorBlock {
   display: flex;
   justify-content: space-between;
   width: 590px;
   height: 197px;
}

.blockContainerColumn {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.infoBlock {
   width: 590px;
   height: 292px;
}

.description {
   color: #303030;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}

li.description {
   list-style: disc;
}

.pageTitle {
   padding-left: 8px;
   color: #212121;
   font-size: 28px;
   font-style: normal;
   font-weight: 500;
   line-height: 40px;
   letter-spacing: -0.56px;

}

.columnContainer {
   display: flex;
   justify-content: space-between;
}

.textRow {
   display: flex;
}

.date {
   padding: 4px 12px;
   border-radius: 40px;
   background: #F6F6F6;
   color: #303030;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px;
}

.textBody {
   color: #303030;
   font-size: 40px;
   font-style: normal;
   font-weight: 500;
   line-height: 48px;
   letter-spacing: -0.8px;
}

.textBody span {
   font-size: 48px;
}

.indicatorsBlock {
   width: 566px;
}

.indicatorsBlock:not(:first-child) {
   border-top: 1px solid #EDEDED;
}

.imgContainer {
   overflow: hidden;
   border-radius: 40px;
   width: 606px;
   height: 350px;
}

.imgContainer.imgContainer_small {
   height: 296px;
}

.imgContainer img {
   width: 100%;
   object-fit: cover;
}

.imgContainerDuble {
   display: flex;
}

.imgContainerDuble div:last-child {
   margin-left: 20px;
}

.imgContainerDuble .imgContainer {
   width: 293px;
   height: 286px;
}

.imgContainerDuble .imgContainer img {
   height: 100%;
}

.imgDescription {
   margin-top: 14px;
   margin-left: 12px;
   color: #808080;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px;
}