.contantContainer{
   margin: 0 auto;
   border: 1px solid red;
   width: 1360px;
   /* border: 1px solid red; */
}
@media screen and (min-width: 1920px){
   .contantContainer{
      width: 1480px;
   }
}
@media screen and (max-width: 1920px){
   .contantContainer{
      width: 1480px;
   }
}

@media screen and (max-width: 1500px){
   .contantContainer{
      width: 1300px;
   }
}
@media screen and (max-width: 1316px){
   .contantContainer{
      width: 100%;
   }
}