.bannerContainer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   padding: 32px;
   border-radius: 40px;
   background: url('../../assets/img/banners/municipal_programs.png') 0 0/auto auto no-repeat;
   background-size: cover;
   width: 202px;
   height: 170px;
   overflow: hidden;
   cursor: pointer;
}

.topContainer {
   display: flex;
   align-items: start;
   flex-direction: column;
}
.topContainer img{
   height: 80px;
}


.title {
   display: inline-block;
   font-size: 24px;
   letter-spacing: -0.01em;
   line-height: 28px;
   font-weight: 500;
   color: #303030;
}

.textBody {
   width: 245px;
   margin-top: 16px;
   font-size: 14px;
   letter-spacing: -0.01em;
   line-height: 20px;
   font-weight: 500;
   color: #323232;
}

.button {
   padding: 8px 24px;
   border-radius: 40px;
   background-color: #fff;
   font-size: 16px;
   line-height: 24px;
   color: #303030;
}