.link {
   text-decoration: none;
   display: flex;
   align-items: center !important;
   color: #303030;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.32px;
}

.textInner {
   font-size: 16px;
   /* text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden; */
}

.datePublication {
   color: #808080;
   text-align: right;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: -0.28px;
}

.documentIcon {
   margin-right: 24px;
   border-radius: 12px;
   padding: 12px;
}

.PDF {
   background: #E13D34;
}

.DOCX {
   background: #307CF1;
}

.documentContainer {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@media screen and (max-width: 745px) {
   .datePublication {
      display: none;
   }
}