.mainContainer {
   height: 420px;
   width: 100%;
}

.window {
   position: relative;
   border-radius: 40px;
   height: 100%;
   width: 100%;
   overflow: hidden;
}


progress {
   position: absolute;
   bottom: 0px;
   right: 5%;
   left: 5%;
   width: 90%;
   height: 4px;
   border-radius: 6px;
}

progress {
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
   border: none;
   margin-top: 10px;
   background: #eee;
   border: 0;
   color: #EEEE20;
}

progress::-webkit-progress-bar {
   background: #eeeeee;
   border-radius: 6px;
}

progress::-webkit-progress-value {
   background: #EEEE20;
   border-radius: 6px;
}

progress::-moz-progress-bar {
   background: #EEEE20;
   border-radius: 6px;
}


.allPagesContainer {
   height: 100%;
   width: 100%;
   display: flex;
   transition: all ease-in-out 1s;
}

.btnContainer {
   margin: 28px 0 24px 0;
   position: relative;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.btnContainer::after {
   content: '';
   position: absolute;
   right: 0;
   top: calc(100% - 65px);
   width: 104px;
   height: 92px;
   background: url('../../assets/img/sliders/effect.png') 0 0/auto auto no-repeat;
   background-size: cover;
}