.calendar {
   display: none;
   position: absolute;
   top: 100%;
   padding: 16px 17px;
   border-radius: 16px;
   border: 1px solid #EDEDED;
   background: #FFF;
   z-index: 9999;
}

.calendarTitle {
   text-align: center;
}

.calendar header {
   margin-top: 11px;
   display: flex;
   justify-content: center;
   margin-bottom: 8px;
}

.calendar header button,
.calendar header select {
   margin: 0 4px;
}

.calendar table {
   table-layout: fixed;
   border-collapse: separate;
   border-spacing: 0;
   margin: auto;
}

.calendar th {
   vertical-align: middle;
   text-align: center;
   height: 36px;
   color: #5E626B;
   font-size: 10px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}

.calendar .day {
   padding: 4px 8px;
   vertical-align: middle;
   text-align: center;
   border: 2px solid transparent;
}

.calendar .day:hover {
   background-color: #F6F6F6;
   cursor: pointer;
}

.calendar .day.selected {
   border: 2px solid dodgerblue;
}

.calendar .day.today {
   color: #F59D2A;
}

.calendar .day.today:hover {
   background-color: #0081ff;
}

.calendar .day.today.selected {
   border: 2px solid lightgray;
}

.calendarBtnArrow {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #F6F6F6;
   border-radius: 50%;
   width: 40px;
   height: 40px;
}

.prev {
   transform: rotate(90deg);
}

.next {
   transform: rotate(-90deg);
}