* {
   font-family: 'Inter', sans-serif;
}

li {
   list-style: none;
}

input {
   border: none;
}

button {
   border: none;
   cursor: pointer;
   /* display: inline-block; */
}

.App {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.wrapper {
   flex: 1 0 auto;
}

.rowBlock {
   display: flex;
   justify-content: space-between;
}

/* Колонки */
.columnContainer {
   display: flex;
}

.columnLarge {
   width: calc(76% - 10px);
}

.columnSmal {
   margin-left: 20px;
   width: calc(24% - 10px);
}

/* Граница */
.borderMain {
   padding: 40px;
   border-radius: 40px;
   border: 1px solid #DFDFDF;
}

/* Карточка */
.cardContainer {
   display: flex;
   justify-content: space-between;

}

/* Состояние кнопок */
.btnY {
   background: #EEEE20;
}

.btnY:hover {
   background: #FCFC3B;
}

.btnY:active {
   background: #ECE513;
}

/*  */
.btnW {
   border: 1px solid transparent;
}

.btnW:hover {
   color: #DCDCDC;
   border: 1px solid #EEEE20;
}

.btnW:hover img {
   opacity: .2;
}

.btnW:active {
   color: #303030;
   border: 1px solid #EEEE20;
}

.btnW:active img {
   opacity: 1;
}

/*  */
.btnCircle {
   background: #ffff;
   box-shadow: 0px 13px 33px 1px rgba(71, 71, 71, 0.24);
}

.btnCircle:hover {
   background-color: #F6F6F6;
}

.btnCircle:active {
   background-color: #EDEDED;
}
.btnCircle:active img {
   opacity: 1;
   background: #EDEDED;
}

/*  */
.btnRad {
   background: radial-gradient(446.15% 170.03% at 105.79% 213.75%, #F5982A 0%, #EEEE20 100%);
}

.btnRad:hover {
   background: radial-gradient(446.15% 170.03% at 105.79% 213.75%, #E1A522 0%, #FCFC3B 100%);
}

.btnRad:active {
   background: radial-gradient(446.15% 170.03% at 105.79% 213.75%, #D37300 0%, #ECE513 100%);
}

/* Состояние кнопок для баннеров */
/* белые кнопки на баннерах */
.btnWBanner {
   background: #fff;
}

.btnWBanner:hover {
   background: #F6F6F6;
}

.btnWBanner:active {
   background: #EDEDED;
}

/* госуслуги */
.btnGosBanner {
   background: #0063B0;
}

.btnGosBanner:hover {
   background: #2E99EB;
}

.btnGosBanner:active {
   background: #024B84;
}

/* himki virtual */
.btnVirtualBanner {
   background: #AB190A;
}

.btnVirtualBanner:hover {
   background: #DF2D1B;
}

.btnVirtualBanner:active {
   background: #761006;
}

/* telegram */
.btnTgBanner {
   background: #019CE6;
}

.btnTgBanner:hover {
   background: #73D2FF;
}

.btnTgBanner:active {
   background: #0573A7;
}

/* vk */
.btnVkBanner {
   background: #07F;
}

.btnVkBanner:hover {
   background: #439AFD;
}

.btnVkBanner:active {
   background: #0059BE;
}

/* priemnaya */
.btnPriemnayaBanner {
   background: #C6D3DD;
}

.btnPriemnayaBanner:hover {
   background: #E3ECF3;
}

.btnPriemnayaBanner:active {
   background: #AABCC9;
}

/* Текст */

.subTitle {
   font-size: 44px;
   font-style: normal;
   font-weight: 500;
   line-height: 48px;
}

/* Отступы */
.mt8 {
   margin-top: 8px;
}

.mt16 {
   margin-top: 16px;
}

.mt20 {
   margin-top: 20px;
}

.mt24 {
   margin-top: 24px;
}

.mt32 {
   margin-top: 32px;
}

.mt40 {
   margin-top: 40px;
}

.mt80 {
   margin-top: 80px;
}